<div class="columns">
  <div class="column is-4">
    <br />

    <div class="field">
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Search your cKrets"
          name="search"
          [(ngModel)]="searchText"
          required
        />
      </div>
    </div>
    <br />
    <form (ngSubmit)="addSecret()" #addSecretForm="ngForm" novalidate>
      <h2 style="font-size: 2rem;">
        <strong style="font-size: 2rem;">+</strong> New cKret
      </h2>
      <br />
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Key"
            name="key"
            [(ngModel)]="addSecretKey"
            required
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            name="value"
            placeholder="Value"
            [(ngModel)]="addSecretValue"
            required
          />
        </div>
      </div>
      <div>
        <button class="button is-primary is-pulled-right">Add</button>
      </div>
    </form>
  </div>
  <div class="column is-8 secrets">
    <app-secret
      *ngFor="let secret of secretsService.getSecretsList(searchText)"
      [secret]="secret"
    ></app-secret>
  </div>
</div>
