.key {
    align-self: center;
    margin-right: 2rem;
}

.password {
    margin-top: 1rem;
}

.box {
  background-color: #fcfcfc;
  border: #eeeeee solid 2px;
  border-radius: 0;
  padding: 2rem;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
}

.column {
  padding: 0;
}

button:last-of-type {
    margin-left: 0.5rem;
}
