<div class="column is-12">
  <div class="box" (click)="showPassword = !showPassword">
    <div *ngIf="!isEditMode">
      <div class="columns">
        <div class="column key">
          {{ this.secret.key }}
        </div>
        <div class="column is-narrow">
          <button
            class="button is-info"
            (click)="toggleEditMode($event)"
            *ngIf="!isEditMode"
          >
            Edit
          </button>
          <button class="button is-danger" (click)="deleteSecret($event)">
            ✕
          </button>
        </div>
      </div>
      <div class="columns password" *ngIf="showPassword || isEditMode">
        <div class="column">
          <strong>{{ this.secret.value }}</strong>
        </div>
        <div class="column is-narrow">
          <button
            class="button is-success"
            (click)="copySecret($event)"
            *ngIf="!isEditMode"
          >
            Copy
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isEditMode">
      <div class="columns">
        <div class="column key">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Key"
                name="key"
                [(ngModel)]="secret.key"
                required
              />
            </div>
          </div>
        </div>
        <div class="column is-narrow">
          <button
            class="button is-warning"
            (click)="toggleEditMode($event)"
            *ngIf="isEditMode"
          >
            Cancel
          </button>
          <button class="button is-danger" (click)="deleteSecret($event)">
            ✕
          </button>
        </div>
      </div>
      <div class="columns password" *ngIf="showPassword || isEditMode">
        <div class="column">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Value"
                name="value"
                [(ngModel)]="secret.value"
                required
              />
            </div>
          </div>
        </div>
        <div class="column is-narrow">
          <button
            class="button is-success"
            *ngIf="isEditMode"
            (click)="updateSecret($event)"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
